table, tr, td {
  border: 1px solid black;
}

* {
  word-wrap: break-word;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

img {
  -webkit-touch-callout: none; 
  -webkit-user-select: none; 
  -khtml-user-select: none; 
  -moz-user-select: none; 
  -ms-user-select: none; 
  user-select: none; 
}

.App {
  text-align: center;
}

.content {
  position: absolute;
  margin-top: 60px;
  padding-bottom: 40px;
  background: rgba(200,200,200,0.1);
  min-height: calc(100vh - 60px);
  width: 100vw;
}

.arrow-container {
  position: fixed;
  bottom: 20px;
  width: 100vw;
  z-index: 999;
}

.arrow-from,
.arrow-to {
  width: 80px;
  opacity: 0.8;
  position: absolute;
  bottom: 10px;
}

.arrow-from::after,
.arrow-to::after {
  content: "";
  position: absolute;
  border-radius: 30px;
  width: 120%;
  height: 120%;
  left: -10%;
  top: -10%;
  background: rgba(255,255,255, 0.9);
  z-index: -1;
}

.arrow-from:hover,
.arrow-to:hover {
  opacity: 1;
  width: 95px;
}

.arrow-from {
  left: 20px;
}

.arrow-from img {
  transform: rotateZ(180deg);
}

.arrow-to {
  right: 20px;
}

.arrow-name {
  font-weight: bold;
  width: 110%;
  font-size: 0.75rem;
  font-family: Arial;
}

.footer {
  position: fixed;
  bottom: 5px;
  right: 10px;
  font-size: 0.7rem;
  font-style: italic;
  text-align: right;
}

.footer > div {
  margin-top: 10px;
  width: auto;
  background: white;
}

.nav {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 60px;
  background: black;
  z-index: 99;
}

.nav-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 1.2rem;
}

.nav-class {
  color: aliceblue;
  height: 100%;
  position: relative;
  display: inline-block;
  width: 170px;
  cursor: pointer;
}

.nav-dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
  width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  width: 170px;
  font-size: 1rem;
}

.nav-dropdown-content a {
  font-size: 0.98rem;
  color: lightyellow;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.nav-dropdown-content a:hover {background-color:grey;}

.nav-class:hover .nav-dropdown-content {display: block;}

.nav-class:hover p {color: red;}

.task-interactive {
  margin: 20px 0;
  width: 100vw;
}

.task-btn {
  margin: 10px;
}

.task-btn button {
  height: 35px;
  width: 100px;
  font-size: 1.3rem;
  font-weight: bold;
}

.task-task {
  background: rgba(215, 183, 172, 0.5);
  width: 75%;
  margin: 15px auto;
  min-height: 20px;
}

.task-task > div{
  padding: 10px 50px;
}

.task-name {
  font-weight: bold;
  font-size: 1.5rem;
}

.task-desc {
  font-size: 1.2rem;
}

.task-title {
  font-size: 1.5rem;
  padding: 0 30px;
}

.task-img img{
  height: 150px;
}

.task-content {
  padding: 0 110px;
  font-size: 1.1rem;
}

.task-content-title {
  font-weight: bold;
  text-align: left;
  margin: 25px 20px;
  font-size: 1.2rem;
}

.page-title {
  margin: 30px 30px 10px 30px;
  font-size: 2rem;
  font-weight: bold;
  font-family: Roboto;
}

.page-content {
  margin: 10px 50px;
}

.page-text {
  margin: 15px 50px;
}

.page-img {
  margin: 15px 15px 5px 15px;
  border-radius: 10px;
}

.page-img-desc {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 0.9rem;
}

.collapse-container {
  text-align: left;
  width: 85%;
  min-width: 300px;
  margin: 0 auto 10px auto;
}

.collapse-title {
  position: relative;
  padding: 5px 10px;
  font-size: 1.2rem;
  width: 100%;
  min-height: 20px;
}

.collapse-title-text {
  display: inline-block;
  margin-left: 30px;
  max-width: calc(100% - 100px);
  word-wrap: break-word;
}

.collapse-content {
  width: calc(100% - 50px);
  background: aliceblue;
  padding: 10px 10px 10px 60px;
}

.question-container {
  border-radius: 5px;
  background: rgba(201, 218, 189, 0.5);
  width: 80%;
  margin: 20px auto;
  padding: 15px 5px;
}

.choices-container {
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.choice {
  max-width: 500px;
}

.quiz-img {
  max-width: 80%;
  display: block;
  margin: 5px auto;
}

.quiz-submit {
  width: 100%;
  margin: 7px;
}

.quiz-submit button {
  width: 120px;
  height: 40px;
  font-size: 1.2rem;
  font-weight: bold;
  font-family: Roboto;
}

.quiz-question {
  margin: 5px;
  font-size: 1.5rem;
  font-weight: bold;
}

.quiz-input {
  margin-top: 4px;
}

.quiz-label {
  display: block;
}

.answer-container {
  font-size: 1.2rem;
  width: 90%;
  word-wrap: break-word;
  margin: auto;
}

.summary {
  margin: auto;
  font-size: 1.1rem;
}

.summary table {
  margin: auto;
}

.summary td {
  width: 100px;
}

.answer-container button,
.summary-text button {
  display: block;
  margin: 5px auto;
  height: 30px;
}

.summary-text {
  margin: 10px auto;
  font-size: 1.4rem;
  width: 80%;
}

.leaderboard * {
  border: none;
}

.leaderboard thead {
  font-weight: bold;
}

.leaderboard table {
  width: 400px;
  margin: auto;
}

.timer {
  position: fixed;
  top: 75px;
  right: 15px;
  font-size: 1.5rem;
  font-weight: bold;
}

.summary-publish input {
  width: 150px;
  height: 19px;
  margin: 0 10px;
  border: none;
  font-size: 1rem;
  background: inherit;
  border-bottom: 1px solid black;
}

.summary-publish button {
  height: 25px;
  display: inline-block;
}

.summary-alert {
  color: red;
  margin: 10px;
  font-size: 1.2rem;
}

.modal {
  position: fixed;
  top: 70px;
  bottom: 10px;
  left: 20px;
  right: 20px;
  background: coral;
  border-radius: 20px;
  z-index: 9999;
}

.modal-content {
  position: absolute;
  bottom: 5px;
  top: 25px;
  right: 5px;
  left: 5px;
}

.modal img {
  pointer-events: none;
}

.modal-flex {
  display: flex;
  bottom: 15%;
}

.modal-question {
  width: 30%;
}

.modal-question img {
  width: 90%;
}

.modal-question-desc {
  margin: 10px 5px;
  font-size: 1.3rem;
}

.tweets {
  width: 70%;

  display: flex;
  flex-wrap: wrap;
  margin: 0 10px;
  cursor: pointer;
}

.tweet-img img {
  height: 120px;
  margin: 5px;
}

.tweet-img:hover img {
  height: 140px;
}

.img-label {
  position: absolute;
  top: 4px;
  left: 5px;
  width: calc(100% - 10px);
  height: calc(100% - 15px);
  background: rgba(255, 255, 255, 0.5);
}

.tick-cross {
  height: 100px;
}

.modal-foot {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 10%;
}

.modal-submit,
.modal-alert {
  margin: 20px 0;
}

.modal-foot button {
  height: 30px;
  width: 100px;
}

.page--content {
  width: 80vw;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.page--subtitle {
  font-size: 1.5rem;
  width: 100%;
  margin: 10px 10px 5px 10px;
}

.page--paragraph {
  text-align: left;
  width: 100%;
  font-size: 1.1rem;
  margin: 10px 10px 20px 10px;
}

.page--img {
  width: 60%;
  margin: 10px auto 0 auto;
}

.page--img-desc {
  width: 100%;
  margin: 0 5px 5px 5px;
}

.page--img img {
  height: 350px;
  max-width: 100%;
}

.page--link {
  width: 100%;
  font-size: 1.5rem;
  margin: 15px 0;
}

.page--link:hover p {
  color: red;
  border-color: red;
}

.page--link p {
  display: inline;
  border-bottom: 1px solid black;
  cursor: pointer;
  margin: auto;
}

.page--bib {
  width: 100%;
  font-style: italic;
  font-size: 0.8rem;
  text-align: right;
  margin: 30px 2px 2px 2px;
}

.page--bib p {
  margin: 0;
}

@media only screen and (max-width: 450px) {
  .nav-class {
    width: 100px;
    font-size: 1rem;
  }

  .nav-class p {
    margin-top: 12px;
  }

  .arrow-to,
  .arrow-from {
    width: 50px;
  }

  .task-img img{
    height: 100px;
  }
}
