.App {
  width: 100vw;
  height: 100vh;
  text-align: center;
  padding: 30px 0;

  display: flex;
  flex-direction: column;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.title {
  font-size: 3.5rem;
  margin: 10px 0 30px 0;
  color: rgb(41, 1, 41);
}

input {
  position: absolute;
  bottom: 3px;
  right: 15%;
  width: 70%;
  height: 30px;
  background: rgba(255,255,255,0.1);
  border-radius: 10px;
  border: none;
  outline: none;
  font-size: 1.6rem;
}

.flex {
  width: 60%;
  height: 40px;
  margin: 5px 20%;
  display: flex;
  font-size: 1.9rem;
  border-radius: 30px;
}

.flex:nth-child(2n-1) {
  background: rgba(20, 206, 147, 0.5);
}

.flex:nth-child(2n) {
  background: rgba(172, 206, 20, 0.5);
}

.flex-1, .flex-2, .flex-3, .flex-4 {
  position: relative;
  margin-top: 5px;
}

.flex-1 {
  width: 15%;
}

.flex-2 {
  width: 60%;
}

.flex-3 {
  width: 20%;
}

.flex-4 {
  cursor: pointer;
  width: 5%;
  color: red;
}

.flex-4 img {
  height: 80%;
  position: absolute;
  top: 0;
  right: 10%;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}